/* Common shared styles */
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  border-radius: 5px;
  background: #e55473;
  border: 0px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 27px;
}
.hero-section-title {
  color: #272727;
  text-align: left;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0px;
}
.header-section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

/*header section styles */
.header {
  background: rgba(229, 84, 115, 0.1);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 40%;
}
.hero-section {
  display: flex;
  align-items: center;
}
.hero-section .profile-pic {
  width: 400px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}
.hero-section-content {
  max-width: 100%;
  margin-left: 100px;
}

/* main section styles */
.flower-featured {
  text-align: center;
  margin-top: 100px;
}
.flower-featured-pics {
  text-align: center;
  margin-top: 48px;
}
.flower-featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
}
.flower-featured-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.pnwwing-six {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 10%;
  padding: 70px 50px 0 50px;
  margin-right: 10px;
}
.pnwwing-five {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 10%;
  padding: 80px 50px 40px 50px;
  margin-right: 10px;
}
.pnwwing-seven {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 10%;
  padding: 60px 50px 0 50px;
}
/* kahini styles */
.pic-er-kahini-re-bhai {
  display: flex;
  margin-left: 320px;
}
.second-pic {
  margin-left: 140px;
}
.third-pic {
  margin-left: 140px;
}

/* Flower icon styles */
.flower-icon-container {
  display: flex;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  max-width: 700px;
  max-height: 320px;
  padding: 50px 100px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.flower-icon-description {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
}

/* Hot deal section styles */
.hot-deal {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 100px;
}
.hot-deal-pic {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 250px;
  height: 330px;
}
.hot-deal-title {
  color: #272727;
  font-size: 30px;
  font-weight: 600;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.hot-deal-content {
  padding: 0 100px 0 200px;
}
#off {
  color: #e55473;
}

/* Instagram section styles */
.instagram-all-pic {
  display: flex;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 80px;
}
.instagram {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.insta-pic {
  margin-right: 15px;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}
/* latest deal styles */
.latest-deal {
  text-align: center;
  background-image: url(../images/Rectangle\ 9.png);
  margin: 50px 280px 50px 300px;
  padding: 60px 50px 80px 50px;
  background-image: auto;
}
.latest-deal-title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0;
  padding-right: 50px;
}
.letest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
input {
  width: 60%;
  padding: 10px 20px;
}
#btn-last {
  padding: 12px 27px;
}
/* Footer styles */
.footer {
  text-align: center;
  background: #111010;
  color: white;
  padding: 110px 200px 110px 200px;
  margin-top: 60px;
}
.footer-title {
  color: #e55473;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 18px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
}
small {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
#shop {
  color: white;
}

/* Extra section styles */
.various-flowers {
  display: flex;
}
.extra-section {
  text-align: center;
}
.extra-section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 50px;
}
.extra-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.rose {
  color: #e55473;
  font-size: 18px;
  margin-right: 50px;
  text-align: center;
  padding: 5px;
}
.rose:hover {
  background-color: #ffe6e6;
}
